<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB88Ju5AL4pkVG4YWU745fR6kAvnap73ok</string>
	<key>BUNDLE_ID</key>
	<string>com.caremanager.app</string>
	<key>GCM_SENDER_ID</key>
	<string>977771334191</string>
	<key>GOOGLE_APP_ID</key>
	<string>1:977771334191:ios:69df6b3450125af36c94da</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>PROJECT_ID</key>
	<string>caremanagerapp</string>
	<key>STORAGE_BUCKET</key>
	<string>caremanagerapp.appspot.com</string>
</dict>
</plist>
